/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* Variáveis de Cores */
:root {
  --background-color: #000005;
  --main-color: #40a2d8;
  --main-text-color: #ffffff;
  --hor-lines-color: #ffffff17;
  --ver-lines-color: #0b60b0;
  --bio-bg-color: #032940;
  --aws-color: #e6880f;
  --fade-color: #ffffffc0;
}

/*Containers*/
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--ver-lines-color);
  font-weight: bold;
}

#bio-container h2 {
  margin-bottom: 25px;
}

#bio-container p {
  margin-bottom: 20px;
}

#bio-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#social-container {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid var(--hor-lines-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 50px;
}

#social-container li {
  flex: 1 1 0;
  max-width: 60px;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
}

#email-container,
#phone-container {
  display: flex;
  justify-content: center;
}

#email-container a {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 225px;
}

#email-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
  flex: 1 1 0;
}

#phone-container {
  padding-top: 9px;
}

#phone-container p {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 225px;
}

#phone-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
  flex: 1 1 0;
}

#telefone-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#mensagem-copiado {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

#experience-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

#certificacoes-container,
#experiencia-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  overflow: hidden;
}

.icon-container {
  display: inline-block; /* Faz com que os ícones fiquem lado a lado */
  margin-right: 20px; /* Espaçamento entre os ícones */
  position: relative;
  transition: transform 0.3s ease;
}

.icon-container:hover {
  transform: scale(1.1);
}

.icon-container:hover .icon-text {
  opacity: 1;
}

/* Geral */
#title {
  color: var(--main-color);
}

.highlight {
  color: var(--main-color);
  font-weight: bold;
}

#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description1 {
  font-weight: bold;
  max-height: 75%;
  margin-bottom: 10px;
}

.description2 {
  max-height: 75%;
  margin-bottom: 10px;
}

#btn-project {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
}

#btn-project ion-icon,
#btn-project span {
  flex: 1 1 0;
}

#btn-project ion-icon {
  font-size: 20px;
  max-width: 20px;
}

#btn-project:hover {
  background-color: transparent;
}

#skills-section-title {
  border-top: 1px solid var(--hor-lines-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

#certificacoes-section-title {
  border-top: 1px solid var(--hor-lines-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

.certificacoes-box {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.certificacoes-title,
.certificacoes-title-aws,
.experiencia-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

.certificacoes-title-aws {
  border-left: 5px solid var(--aws-color);
}

.certificacoes-box i {
  font-size: 45px;
  margin-right: 10px;
}

#certification-img {
  padding-left: 45px;
  width: 155px;
  height: 110px;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
}

#certification-img:hover {
  transform: scale(1.2);
}

.devicon-visualstudio-plain {
  color: #007acc;
}

.skills-box {
  position: relative;
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skills-box i {
  font-size: 55px;
  margin-right: 10px;
}

#skill {
  font-size: 70px;
}

.icon-text {
  position: absolute;
  top: -35px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Mobile */
@media (max-width: 450px) {
  #container {
    flex-direction: column;
  }

  #bio-container {
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid var(--ver-lines-color);
    padding: 20px;
  }

  #bio-container h2 {
    display: none;
  }

  #bio-container p {
    max-width: 100%;
    margin: 10px auto;
  }

  #bio-img {
    margin-bottom: 15px;
  }

  #social-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  #social-container li {
    margin-bottom: 10px;
  }

  #email-container,
  #curriculo-container {
    margin-top: 15px;
  }

  #about-container {
    padding: 20px;
  }

  #about-container .description {
    max-width: 100%;
    line-height: 22px;
    margin-bottom: 15px;
  }

  #btn-project {
    margin: 20px auto;
    width: 100%;
  }

  #skills-container,
  #certificacoes-container {
    flex-direction: column;
  }

  .skills-box,
  .certificacoes-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .skills-box i,
  .certificacoes-box i {
    font-size: 40px;
  }
}

.experiencia-title {
  margin-bottom: 15px;
}

.experiencia-long-description {
  padding-top: 15px;
  margin-top: 15px; /* Adiciona margem ao topo para separar da descrição anterior */
  margin-bottom: 2px; /* Ajuste o valor conforme necessário */
}

.experiencia-first-description {
  color: var(--fade-color);
}

.experiencia-long-description p {
}

.experiencia-box {
  flex: 1 1 80%;
  max-width: 80%;
  margin-bottom: 35px;
}